.title{
    margin-top: 30vh; 
}
.levelBlock{
    height: 44px;
    width: 44px;
    color: white;
    background-color: teal;
    font-size: 3rem;
    vertical-align: middle;
    border-radius: 8px;
}
.container-fluid{
    width: 10vw;
}